.wrapper {
   margin-top: 40px;
   display: grid;
   grid-template-columns: 850px 290px;
   justify-content: space-between;


   
   .sidebar {
      display: grid;
      grid-template-rows: 360px auto;
      background-color: #FFFFFF;
   }
}