.lists {
  display: grid;
  grid-template-columns: repeat(12, 25px);
  justify-content: center;
  justify-items: center;

  .arrow {
    font-size: 20px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    color: #0077B5;

    &:hover {
      transform: scale(110%);
      color: #0077B5;
    }
  }

  .selectedPage {
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #0077B5 51%, #cfe7f3 100%);
  }

  button {
    margin: 0 5px;
    min-width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #0077B5;
    background: linear-gradient(180deg, #FFFFFF 51%, #cfe7f3 100%);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(110%);
    }
  }
}

.pageSize {
  padding: 5px;
  color: #0077B5;
  span{
    margin: 0 5px;
    cursor: pointer;
  }
  .active {
    font-weight: 700;
    font-size: 14px;
    color: #0077B5;
  }
}